.word-pop {
    display: inline-block;
    font-family: Verdana;
    white-space: nowrap;
    line-height: 60px;
}

.word-pop span {
    display: inline-block;
    width: 30px;
    height: 60px;
    text-align: center;
    transition: font-size 0.3s, line-height 0.3s;
}

.word-pop span:hover {
    font-size: 40px;
    line-height: 40px;
}
